.hero {
  padding-top: 4rem;
  background: url('../assets/heroBackground.svg');
  min-height: calc((100vh - 4rem));
  width: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: #fff3f3;
  background-size: 50%;
}

.container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.heroText {
  max-width: 600px;
  text-align: center;
  margin-top: 10rem;
  margin-left: 2rem;
}

.heroText h1 {
  color: #131418;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  color: #003a4a;
}

.contact {
  display: none;
}

/*Styling Buttons*/
.loginButton {
  background-color: #131418;
  color: #fff;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.loginButton:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid gray;
  transition: all ease-in-out 350ms;
}
.joinButton {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.joinButton:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid gray;
  transition: all ease-in-out 350ms;
}

@media only screen and (max-width: calc(600px + 20rem)) {
  .contact {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 3rem 0;
  }

  .heroText {
    margin: 3rem auto;
  }

  .hero {
    background-size: 90%;
    background-position: bottom center;
  }

  .heroText h1 {
    font-size: 2rem;
  }
  .heroText p {
    font-size: 1rem;
  }
}
